<?xml version="1.0" encoding="utf-8" ?>
<root>
	<!-- Up to 30 old log files will be kept. -->
	<gindicator name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="C:\www\log\Trade"/>
		<encoding value="unicodeFFFE" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value=".yyyyMMdd.LOG" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%5p[%date]-%m%n" />
		</layout>
	</gindicator>	
	<gstrategy>
		<level value="WARN" />
		<appender-ref ref="RollingFileAppender" />
	</gstrategy>
</root>
